body {
  text-align: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.year {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.year:focus {
  outline: none;
}

table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 2px solid black;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  background-color: #f9f9f9;
}

.saveenterbudget,
.Editenterbudget,
.cancelenterbudget {
  position: relative;
  top: 20px;
  background-color:#000000;
  color: #fff;
  border-radius:20px;
  font-size: 30px;
  text-align: center;
  width: 110px;
  padding-left: 2px;
}

.saveenterbudget:hover,
.Editenterbudget:hover,
.cancelenterbudget:hover {
  background-color: white;
  color: black;
}


.viewbutton {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  padding: 8px 16px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: solid;
}

.viewbutton:hover {
  background-color: white;
  color: black;
}

.budget_input {
  border-radius: 5px;
  border: 2px solid #dc3545;
  /* padding: 10px; */
  font-size: 16px;
  /* margin-bottom: 20px; */
  height: 10px;
  color: aqua;
}

/* Additional Styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
