.folder-creator {
    position: relative;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-blue {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    padding-left: 10px;
    bottom: 80px;
    right: 710px;
    position: absolute;
    
  }
  
  .dropdown-button:hover {
    background-color: #0e1a27;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 80px;
    right: 540px;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .popup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup input {
    width: calc(100% - 20px); /* Adjust the width as needed */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .popup button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:last-child {
    margin-right: 0;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }
  
  .close-button:hover {
    color: #666;
  }
  .folder-text{
    text-wrap: nowrap;
  }
  .folder-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .folder-container {
    width: calc(20% - 10px); /* 20% width with 10px gap between items */
  }
  
  .new-folder-icon {
    display: flex;
    align-items: center;
  }
  
  .new-folder-icon svg {
    margin-right: 5px;
  }
  
  .folder-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .folder-area{
    
  }
  