.offcanvas {
    width: 0; /* Initially hidden */
    transition: width 0.3s ease;
    box-sizing: content-box;

  }

.list-group-flush button:hover{
  background: darkblue
}

 

.offcanvas.close ~ .navbar{
  left: 0;
  width: 100%;  
}

@media (max-width: 425px) {

  html{
    font-size: 60%;
  }
}

@media (max-width: 425px) {

  style{
    width: 160px;
  }
  }