html{
    height: 100%;
    width: auto;
    background-color: white;
    /* overflow-y: visible; */
  }
  .main-container {
    text-align: center;
    background-color: white;
  }
  .btn i{
    font-size: 20px;
    color:white;
    position: relative;
    top: 10%;
  }  
  .nav-link{
    font-size: 20px;
  }  

  .active{
    color: blue;
    /* background-color: pink; */
  }
    
  @media (max-width: 425px) {
    html{
      font-size: 50%;
    }
    h2{
      backgroundColor:"red"
    }
  }