body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.year:focus {
  outline: none;
}

.Itemname {
  background-color: #eaffe2;
}

.Itemname:hover {
  cursor: pointer;
}

.Itemname,
.tdbudgetinput input,
.tdactexp input {
  border: none;
}

.Itemname,
.tdbudgetinput:hover input,
.tdactexp:hover input {
  border: 1px solid;
}

.saveenterbudget,
.Editenterbudget,
.cancelenterbudget {
  position: relative;
  top: 20px;
  background-color: #000000;
  color: #fff;
  font-size: 30px;
  text-align: center;
  width: 110px;
  padding-left: 2px;
  background-color: #0f100e;
  color: #f8f5f5;
}

.saveenterbudget:hover,
.Editenterbudget:hover,
.cancelenterbudget:hover {
  background-color: white;
  color: black;
}


.viewbutton {
  background-color: black;
  color: #f8f5f5;
  font-size: 20px;
  padding: 8px 16px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: solid;
}

.viewbutton:hover {
  background-color: white;
  color: black;
}

.actexp {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  width: 150px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Itemcol,
.Budgetcol,
.Actexpcol {
  background-color: #d1ff7a;
  color: #000000;
}

.FinanYear {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-style: italic;
  color: #333;
  padding: 8px;
  background-color: rgb(168, 253, 149);
}

.FinanYear:hover {
  background-color: #4ecc05;
}

.year {
  padding: 8px;
  font-size: 22px;
  width: 200px;
  margin-bottom: 20px;
  background-color: rgb(229, 255, 220);
  transition: border-color 0.3s;
}

.year:focus {
  outline: none;
}