
body {
    text-align: center;
  }
  
  select {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
    
  select:focus {
    outline: none;
  }
  
  table,
  th,
  td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    border-collapse: collapse;
  }

      input[type=text] {
      /* width: 100%; */
      padding: 12px 20px;
      margin: 2px 0;
      box-sizing: border-box;
      border-color: transparent;
      border: none;
      text-align: center;
      }
      .save {
        position: relative;
        top: 10px;
        background-color:#000000;
        color: #fff;
        border:none;
        border-radius:60px;
        font-size: 30px;
        text-align: center;
        left: 200px;
      }
      .Edit {
        position: relative;
        top: 10px;
        background-color:#000000;
        color: #fff;
        border:none;
        border-radius:60px;
        font-size: 30px;
        text-align: center;
        left: 180px;
      }
      .csbut{
        color: white;
        background-color: black;
        border-radius:60px;
        border: none;
      }
      .inbutton{
        background-color: #000000;
      }
      i{
        cursor: pointer;
        size: 10px;
      }
      .tablebutton {
        color: white;
        background-color: black;
        border-radius:250px;
        border: none;
      }
      input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #080807;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #0c0b09;
}