  .offcanvas {
    /* width: 100%; */
    visibility: visible;
    transition: width 0.3s ease;
    box-sizing: content-box;
    overflow-x: hidden;
  }

  .btn:hover {
    left: -100;
    width: 30px;
    color: black;
    background: white;
  }

  .btn .fa-solid {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .offcanvas-body .btn {
    min-width: 0%;
    width: 110%;
    left: -10px;
    position: relative;
    text-align: left;
    padding-left: 45px;
  }

  .offcanvas-body {
    overflow-x: hidden;
  }

  .btn:hover .fa-solid {
    color: black;
  }


  @media (max-width: 425px) {

    html {
      font-size: 60%;
    }
  }

  @media (max-width: 425px) {

    style {
      width: 160px;
    }
  }