.offcanvas {
  width: 0; /* Initially hidden */
  transition: width 0.3s ease;
  box-sizing: content-box;
  overflow: hidden;

}

.list-group-flush button:hover{
  background: darkblue
}

.menu-scrollable {
  max-height: 0px; /* Set the desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.offcanvas.close ~ .navbar{
  left: 0;
  width: 100%;  
}

@media (max-width: 425px) {

  html{
    font-size: 60%;
  }
}

@media (max-width: 425px) {

  style{
    width: 160px;
  }
  }