body {
    text-align: center;
}
  
select {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}
  
table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    border-collapse: collapse;
}

input[type=text] {
    width: 50%;
    /* box-sizing: content-box; */
    text-align: left;
    border-radius:60px ;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}
      
.addfinancialyear {
    position: relative;
    top: 10px;
    left: 180px;
    width: 190px;
    background-color:#000000;
    color: #fff;
    border:none;
    border-radius:60px;
    font-size: 30px;
    /* text-align: center; */
    padding: 3px 25px;
}
      
.submitupdatedfinancial {
    position: relative;
    top: 10px;
    left: 180px;
    width: 190px;
    background-color:#000000;
    color: #fff;
    border:none;
    border-radius:60px;
    font-size: 30px;
    text-align: center;
    padding: 3px 25px;
    cursor: pointer;
}