.unstyled-button {
  color: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}

.unstyled-button:hover,
.unstyled-button:focus,
.unstyled-button:active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  color: inherit;
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-options-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
}

.custom-options-icon .dot {
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  margin: 2px 0;
}
